/***
.jumbotron{
  background-image:
  url(file:///C:/Users/Kashi/Downloads/cf_template-1.1.1/img/landscape.jpg)
  ;
  background-size: cover;
  width: 1920px;
  ;
}
.jumbotron p {
  color: white;
}***/

.carousel {
  margin-left: -15px;
  margin-right: -15px;
}
/**** Contact page ****/


/****End Contact Page****/

.projectName {
  text-transform: uppercase;
}
.projectName a {
  color: white;
  float: left;
}
body, html {
    height: 100%;
  background-color:#a9a9a96b;
}

/**navbar start **/

.nav a:hover {
  color: #F5FFBD;
}
.nav span:hover {
  cursor: crosshair;
  color: red;
}

/***end nav ***/

* { box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 100%;
}
.header h1 {
  text-align: center;
}
.column {
  display: inline-block;
  float: left;
  width: 33.33333333333333%;
}


.image img {
  width: 100%;
}
#skill-list {
  margin-left: 50px;
}

/*Typography*/
h1{
  font-family: Futura, Helvetica, Arial, sans-serif;
  padding-top: 2em;
}
h2{
  font-family: Futura, Helvetica, Arial, sans-serif;
}
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;

}
p{
  font-family: Georgia, Garamond, serif;
}
li{
  font-family: Georgia, Garamond, serif;
}
.intro p {
  font-size: 1em;
  font-weight: 100;
  -webkit-margin-before: 0;
}
#contactinfo{
  padding: 2em;
  padding-bottom: 1em;
}
#aboutinfo {
  padding-top: 5em;
}
#aboutpics{
  padding: 3em;
}
#newimg {
	background-image: url("../img/contactme.jpg");
	/*Add a background image*/
	background-attachment: fixed;
	/*Give the background a fixed position does it not scroll when you scroll*/
	background-size: cover;
}
#map{
	margin-top: 4em;
}
/*** faq ***/
#faq {
	padding-bottom: 10em;
}

.learn-more {
	text-align: left;
	float: left;
  padding-left: 2.5em;
}
.modal-button {
	float: right;
	padding: 19px;
	margin: 1.5em;
}
#modalembed {
	height: 500px;
	width: 100%;
	padding: 10px;
}

/***work ***/

#work {
	padding-left: 2em;
}
img .img-responsive {
	box-shadow: 0 0 5px 9px white;
}
.work-img {
	display: block;
	margin: auto;
	width: 200px;
	padding:10px;
}
.info {
	position: absolute;
	top: 15%;
	left: 22%;
	color: gold;
	font-family:Futura;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:0.5em;
	line-height:1.6;
	display: none;
	text-decoration: none
}
.proj-title {
	font-weight: 150;
}

.weblink {
  color: DodgerBlue;
}

/***Social Media Links***/

a: pseudo-class {}
.twitter {
	padding-right: 10em;
}
#youtube {
  padding-top: 2em;
}
/***form ***/

.form-control {
	width: 100%;
	margin-bottom: 1.5em;
}
/*** map ***/
#map {
	height: 300px;
	width: 100%;
}

.center-text {
    text-align: center!important
}
